<%= form_with model:score, class: 'score-form', local: true do |f| %>
      <div class="form-input">
        <%= f.text_field :course_name, class: 'form-message', placeholder: 'ゴルフ場名を入力してください' %>
        <%= raw sprintf(
                  f.date_select(
                    :play_date,
                    class:'select-play-date',
                    id:"birth-date",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 2020,
                    end_year: (Time.now.year ),
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
      </div>
      <div class="total-score">
        <div class="in-score">
          <div class="input-score">
            <div class="input-number">
              <p>1H</p>
            </div>
            <div class="input-count">
              <%= f.collection_select(:score_1h, Count.all, :count, :name, {}, {class:"select-box", id:"item-category"}) %>
            </div>
          </div>
          <div class="input-score">
            <div class="input-number">
              <p>2H</p>
            </div>
            <div class="input-count">
              <%= f.collection_select(:score_2h, Count.all, :count, :name, {}, {class:"select-box", id:"item-category"}) %>
            </div>
          </div>
          <div class="input-score">
            <div class="input-number">
              <p>3H</p>
            </div>
            <div class="input-count">
              <%= f.collection_select(:score_3h, Count.all, :count, :name, {}, {class:"select-box", id:"item-category"}) %>
            </div>
          </div>
          <div class="input-score">
            <div class="input-number">
              <p>4H</p>
            </div>
            <div class="input-count">
              <%= f.collection_select(:score_4h, Count.all, :count, :name, {}, {class:"select-box", id:"item-category"}) %>
            </div>
          </div>
          <div class="input-score">
            <div class="input-number">
              <p>5H</p>
            </div>
            <div class="input-count">
              <%= f.collection_select(:score_5h, Count.all, :count, :name, {}, {class:"select-box", id:"item-category"}) %>
            </div>
          </div>
          <div class="input-score">
            <div class="input-number">
              <p>6H</p>
            </div>
            <div class="input-count">
              <%= f.collection_select(:score_6h, Count.all, :count, :name, {}, {class:"select-box", id:"item-category"}) %>
            </div>
          </div>
          <div class="input-score">
            <div class="input-number">
              <p>7H</p>
            </div>
            <div class="input-count">
              <%= f.collection_select(:score_7h, Count.all, :count, :name, {}, {class:"select-box", id:"item-category"}) %>
            </div>
          </div>
          <div class="input-score">
            <div class="input-number">
              <p>8H</p>
            </div>
            <div class="input-count">
              <%= f.collection_select(:score_8h, Count.all, :count, :name, {}, {class:"select-box", id:"item-category"}) %>
            </div>
          </div>
          <div class="input-score">
            <div class="input-number">
              <p>9H</p>
            </div>
            <div class="input-count">
              <%= f.collection_select(:score_9h, Count.all, :count, :name, {}, {class:"select-box", id:"item-category"}) %>
            </div>
          </div>
        </div>
        <div class="out-score">
          <div class="input-score">
            <div class="input-number">
              <p>10H</p>
            </div>
            <div class="input-count">
              <%= f.collection_select(:score_10h, Count.all, :count, :name, {}, {class:"select-box", id:"item-category"}) %>
            </div>
          </div>
          <div class="input-score">
            <div class="input-number">
              <p>11H</p>
            </div>
            <div class="input-count">
              <%= f.collection_select(:score_11h, Count.all, :count, :name, {}, {class:"select-box", id:"item-category"}) %>
            </div>
          </div>
          <div class="input-score">
            <div class="input-number">
              <p>12H</p>
            </div>
            <div class="input-count">
              <%= f.collection_select(:score_12h, Count.all, :count, :name, {}, {class:"select-box", id:"item-category"}) %>
            </div>
          </div>
          <div class="input-score">
            <div class="input-number">
              <p>13H</p>
            </div>
            <div class="input-count">
              <%= f.collection_select(:score_13h, Count.all, :count, :name, {}, {class:"select-box", id:"item-category"}) %>
            </div>
          </div>
          <div class="input-score">
            <div class="input-number">
              <p>14H</p>
            </div>
            <div class="input-count">
              <%= f.collection_select(:score_14h, Count.all, :count, :name, {}, {class:"select-box", id:"item-category"}) %>
            </div>
          </div>
          <div class="input-score">
            <div class="input-number">
              <p>15H</p>
            </div>
            <div class="input-count">
              <%= f.collection_select(:score_15h, Count.all, :count, :name, {}, {class:"select-box", id:"item-category"}) %>
            </div>
          </div>
          <div class="input-score">
            <div class="input-number">
              <p>16H</p>
            </div>
            <div class="input-count">
              <%= f.collection_select(:score_16h, Count.all, :count, :name, {}, {class:"select-box", id:"item-category"}) %>
            </div>
          </div>
          <div class="input-score">
            <div class="input-number">
              <p>17H</p>
            </div>
            <div class="input-count">
              <%= f.collection_select(:score_17h, Count.all, :count, :name, {}, {class:"select-box", id:"item-category"}) %>
            </div>
          </div>
          <div class="input-score">
            <div class="input-number">
              <p>18H</p>
            </div>
            <div class="input-count">
              <%= f.collection_select(:score_18h, Count.all, :count, :name, {}, {class:"select-box", id:"item-category"}) %>
            </div>
          </div>
        </div>
      </div>
      <div class="score-memo">
        <%= f.text_area :memo, class:"memo-form",placeholder:"ラウンドメモ（例）Aさん、Bさんと〇〇ゴルフ場でプレーしました。アイアンがシャンクしたり、バンカーから抜け出せずスコアがまとまらなかった。"%>
      </div>
      <%= f.submit 'スコア記入へ', class: 'form-submit',id:"submit" %>
    <% end %>