


  <div class="my-wrapper">
    <div class="list-wrapper">
      <div class="use-message">
        各スコアを選択するとスコアの詳細を表示します
      </div>
      <div class="list-score">
        <% @scores.each do |score| %>
          <%= link_to score_path(score.id) ,class:"score-detail" do%>
            <div class="score-list">
              <div class="golf-course-name">
                <p><%=score.course_name %></p>
              </div>
              <div class="users-score">
                <p><%= score.total_score %></p>
              </div>
              <div class="play-day">
                <p><%= score.play_date %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="score-chart">
        <%= line_chart @scores.pluck('play_date','total_score').to_h,xtitle:"プレー日",
          class:"chart",colors:['#b00']%>
      </div>
    </div>
  </div>

