<div id="splash-new">
  <div id="splash-new-logo"></div>
</div>
<div class="splashbg1"></div>
<div class="splashbg2"></div>

<div id="new-container">
  <div class="practice-wrappers">
    <div class="practice-new-wrapper">
      <% if @error == nil%>
          <h1 class="practice-message">練習動画追加</h1>
        <% else %>
          <h1 class="practice-error-message"><%= @error %></h1>
        <% end %>
      <div class="video-new">
        <%=form_with model:@video,class:"practice-form-wrapper" ,local: true do |f|%>
          <div class="practice-form">
            <div class="title-wrapper">
              <label>タイトル（必須）</label><br/>
              <%= f.text_field :title,class:"title-form",autofocus:true,placeholder:"タイトルを自由に入力してください"%>
            </div>
            <div class="youtube-wrapper">
              <label>YouTubeのURL（必須）</label><br/>
              <%= f.text_field :youtube_url,class:"youtube-form",placeholder:"YouTubeのURLをペーストしてください"%>
            </div>
          </div>
          <div class="submit-wrapper">
            <%= f.submit "動画を追加する",class:"practice-submit"%>
          </div>
        <% end %>
      </div >
    </div>
  </div>
</div>