<!DOCTYPE html>
<html>
  <head>
    <title>GolfManegiment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application'%>
    
  </head>

  <body>
    
    <header>
      <div class="left-content">
        <% if current_page?(root_path)%>
          <p class="title-p">GolfManegiment</p>
        <% else %>
          <%= link_to root_path,class:"title" do%>
            <span>GolfManegiment</span><span>トップへ</span>
          <% end %>
        <% end %>
        
      </div>
      <div class="right-content">
        <div class="user-name">
          <% if user_signed_in?%>
            <%= link_to "#{current_user.nickname}さんのスコア一覧", user_path(current_user.id),class:"user-score"%>
          <% end %>
        </div>
        <div class="logout-wrap">
          <% if user_signed_in?%>
            <%= link_to 'ログアウト',destroy_user_session_path,class:"logout",method: :delete%>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
    
    
   </body>
</html>
