<!DOCTYPE html>
<html>
  <head>
    <title>GolfManegement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application'%>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/css/modaal.min.css">
  </head>

  <body>
    <header>
      <div class="left-content">
        <div class="header-title">
          <%= link_to "GolfManegement",root_path,class:"title-p"%>
        </div>
      </div>
      <div class="right-content">
        <% if user_signed_in?%>
          <div class="user-name">
            <% if current_page?(user_path(current_user.id)) %>
              <%= link_to "スコア記入へ",new_score_path,class:"user-score"%>
            <% else %>
              <%= link_to "スコア一覧", user_path(current_user.id),class:"user-score"%>
            <% end %>
          </div>
          <div class="logout-wrap">
            <%= link_to 'ログアウト',destroy_user_session_path,class:"logout",method: :delete%>
          </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
    
    
   </body>
</html>
